@import "bourbon";
@import "neat";

// $mobile: new-breakpoint(max-width 500px 4);

.container {
  @include outer-container;
  @include row();
  display: inline;
}

.top-row {
  @include row();
  @include span-columns(12);
  margin-bottom: 2%;
}

.tracks-container {
  @include span-columns(6);
      // $mobile: new-breakpoint(max-width 900px);
}

.inner-row {
  @include row();
  margin-bottom: 1%;
}

.player {
  @include span-columns(1.5 of 6);
    // @include media($mobile) {
    //   @include span-columns(3);
    // }
}

.track-info {
  @include span-columns(4.5 of 6);
  transform: translateY(16%);

    // @include media($mobile) {
    //   @include span-columns(3);
    // }
}


.added-tracks {
  @include span-columns(6);
  float: right;
  // margin-top: 0%;
    // $mobile: new-breakpoint(max-width 900px 4);
}

  .added-img {
    @include span-columns(1.5 of 6);
      // @include media($mobile) {
      //   @include span-columns(3);
      // }
  }

  .added-info {
    @include span-columns(4.5 of 6);
      transform: translateY(-16%);

      // @include media($mobile) {
      //   @include span-columns(3);
      // }
  }

.remove-track {
  // padding: 10px 20px;
  // // width: 100px;
  // // font-size: 15px;
  // font-weight: normal;
  // border: none;
  // border-radius: 25px;
  // background-color: purple;
  // color: white;   
}

.track-img {
  height: 80px;
  width: 80px;
  // padding: 5px;
}



.menu, .menu-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    z-index:10;  
    overflow:hidden;
    box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
}

.menu li a{
  display: block;
  text-indent: -500em;
  height: 5em;
  width: 5em;
  line-height: 5em;
  text-align:center;
  color: #72739f;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  transition: background 0.1s ease-in-out;
}

.menu li a:before {
  font-family: FontAwesome;
  speak: none;
  text-indent: 0em;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
}

.menu li a.background-color:before { content: "\f1fc"; }
// .menu li a.background-color:before { content: "\f1fc"; }

.menu li a.archive:before { content: "\f187"; }

.menu li a.pencil:before { content: "\f040"; }

.menu li a.contact:before { content: "\f003"; }

.menu li a.about:before { content: "\f007"; }

.menu li a.home:before { content: "\f039"; }

.menu-bar li a:hover,
.menu li a:hover,
.menu li:first-child a {
  background: #267fdd;
  color: #fff;
}

.menu-bar{
  overflow:hidden;
  right:5em;
  z-index:5;
  width:0;
  height:0;
  transition: all 0.25s ease;
}

.menu-bar li a{
  display: block;
  height: 4em;
  line-height: 4em;
  text-align:center;
  color: #72739f;
  text-decoration:none;  
  position: relative;
  font-family:verdana;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  transition: background 0.1s ease-in-out;
}

.menu-bar li:first-child a {
    height:5em;
    background: #267fdd;
    color: #fff;    
    line-height:5
}

.para {
    color:#033f72;
    padding-left:100px;
    font-size:3em;
    margin-bottom:20px;
}

.open {
    width: 15em;
    height: 100%;
}

@media all and (max-width: 500px) {
    .container{
        margin-top:100px;
    }
    .menu{
        height:1em;
        width:100%;
    }
    .menu li{
        display:inline-block;
        float:left;
    }
    .menu-bar li a{
        width:100%;
    }
    .menu-bar{
        width:100%;
        left:0;
        height:0;
    }
    .open{
        width:100%;
        height:auto;
    }
    .para{
    padding-left:5px;
}  
}
@media screen and (max-height: 34em){
  .menu li,
  .menu-bar {
    font-size:70%;
  }
}

@media screen and (max-height: 34em) and (max-width: 500px){
  .menu {
      height:3.5em;
    }
}

.menu-text {
  text-align: center;
  font-size: 20px;
}


@mixin button-bg($bg) {
  background: $bg;
  text-align: center;
  margin-top: 5%;
  margin-left: 10%;
  width: 50px;
  height: 50px;
  font-weight: normal;
  border: none;
  border-radius: 25px;
  cursor: pointer; 
  &:hover {
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
  }
  &:focus { outline: 0; }
}

.reset {
  @include button-bg(Transparent);
  border: 1px solid #000000;
  width: 200px;
  height: 30px;
  font-size: 15px;
  color: black;  
}

// .red {
//   @include button-bg(red);
//   color: white;
// }

.dark { @include button-bg(#463F3A); 
   @include keyframes(fadeIn) {
  from {
    @include transform(scale(0));
  }
  to {
    @include transform(scale(2));
  }
  }
}

.metallic { @include button-bg(#8A817C); }

.sea-gray { @include button-bg(#808F85); }

.blue {  @include button-bg(#568EA3); }

.cerulean { @include button-bg(#064789); }

.light-blue { @include button-bg(#68C3D4); }

.bright-blue { @include button-bg(#2176FF) }
