<div class="container">
  <h2>Search for Tracks on Spotify</h2>
  <p>After searching, click on the track to play a 30 second preview.</p>
 {{input type="text" value=query placeholder="search for tracks, artists, or albums" class="search"}}
</div>


{{#each model as |track|}}
  <p>{{track.name}}</p>
{{!--   {{track.id}}
 --}}{{/each}}
