<div class="mixtape-container">
<h2>in the edit route! let's make an awesome mixtape!</h2>
<div>
  <iframe src="https://embed.spotify.com/?uri=spotify:user:{{userId}}:playlist:{{playlistId}}&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>
</div>

{{mixtape.sidebar-tools playlist=playlistId}}