<div class="mixtape-container">
<div class="title-container">
  <h2 class="mixtape-title">let's make some awesome mixtapes!</h2>
</div>
<div class="playlist-player">
  <iframe src="https://embed.spotify.com/?uri=spotify:user:{{userId}}:playlist:{{playlistId}}&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>

<div>
{{#un-slider slides=mixtapePhotos animation='fade' nav=false autoplay=true speed=800 delay=3500 arrows=false as |slide|}}
<div class="box photos"><img src={{slide}}></div>
{{/un-slider}}
</div>
</div>


{{mixtape.sidebar-tools playlist=playlistId}}