<h2>The art of creating a mixtape starts with the title.</h2>
<p>Think about who the mixtape is for, when and where they'll listen to it, and the overall theme you want. Inside jokes are good, too.</p>

<div class="container">
  <h2>Give your mixtape a title:</h2>
  {{input type="text" value=title placeholder="title" maxlength="50"}}
 <button {{action "createMixtape" title}}>Create</button>
</div>

