<div class="new-title-container">
  <div class="new-title-descrption">
    <h2>The art of creating a mixtape starts with the title.</h2>
    <p>Who is the mixtape for?</p>
    <p>When and where will they listen to it?</p>
    <p>Do you have an overall theme in mind?</p>
    <p>Inside jokes are good, too.</p>
  </div>

  <div class="title-bar">{{input type="text" value=title placeholder="give your mixtape a title" maxlength="30" class="new-title-input"}}</div>
 
  <div><button {{action "createMixtape" title}} class="create-mixtape-btn">Create</button></div>
</div>

