

  <div class="img-bar">
    {{ember-filepicker pickerOptions=pickerOptions storeOptions=storeOptions multiple=true onSelection='fileSelected' resize=width:100 resize=height:80 onClose='onClose' onError='onError'}}
  </div>
