<body class="other-body">
  <div class="parallax">
    <div class="bg__app-title">
      <h1 class="main-app">digital mixtape</h1>
      <p class="connect-music"><span class="connect">connect through music.   </span><span class="again">again.</span></p>
    </div>
    <div class="bg__home-links">
      <div class="scroll1">
      {{#scroll-to href='#description1' duration=1000 offset=-60 easing='linear'}}
        <span class="what-is-mixtape">what is a mixtape?</span>
      {{/scroll-to}}
      </div>
      <div class="scroll2">
      {{#scroll-to href='#description2' duration=1000 offset=-60 easing='linear'}}
        <span class="what-is-mixtape">how do i make one?</span>
      {{/scroll-to}}
      </div>
    </div>
    <div class="bg__description1" id="description1">
      <img src="assets/images/mixtape-heart.png" class="home-mix-sketch">
      <div class="mixtape-description">
        <h2>what is a mixtape?</h2>
        
          <p>As cassette tapes became more popular and accessible in the 1980s, mixtapes were born. A symbol of youth culture at the time, the mixtape became not just a recorded set of songs, but a way to connect with others using music and art. Whether your friend was going through a breakup or you needed a way to express your feelings to your high school crush, mixtapes gave you that outlet.</p> 

          <p>Each mixtape was crafted with personalized songs, colors, messages, stickers, and stories. As cassette tapes and CDs have nearly disappeared, the mixtape has too.</p>

          <p>Digital Mixtape brings the mixtape experience back to the digital space.</p>

          <p><em>“The times you lived through, the people you shared those times with — nothing brings it all to life like an old mix tape. It does a better job of storing up memories than actual brain tissue can do. Every mix tape tells a story. Put them together, and they can add up to the story of a life.” 
          ― Rob Sheffield, Love Is a Mix Tape</em></p>
      </div>
    </div>
    <div class="bg__description2" id="description2">
      <img src="assets/images/mixtape-heart.png" class="retro-mixtape">
      <div class="make-one">
        <h2>how do I make one?</h2>

        <p>Digital Mixtape gives you the freedom to tell a story through music and art.</p>

        <p>Start by thinking about who you're making the mixtape for. What kind of music do they like? Are you making the mixtape for a special moment? What kind of story do you want to tell?</p>

        <p>The first step is to create a playlist in the app and add your tracks. The playlist is created and saved through Spotify, so it's also available in your Spotify player. Once your tracks are ready, you can personalize your mixtape by changing the background color, font style and color, add photos, and pick a sticker theme. Once it looks just right, you can publish your mixtape and share it on social media.</p>
      </div>
    </div>
  </div>

</body>