<div class="login-container">
  <h2>You are logged out! <br>Awesome mixtapes are waiting... </h2>
  <button {{action 'login'}} class="login-page-btn"><span class="with-spotify">login with Spotify</span></button><br>
</div>
