<h1>Welcome, {{userId}}!</h1>

<button {{action 'newMixtape'}}>create a new mixtape</button>
<div class="cards">
  <div class="card">
    <div class="card-header">
      First Card
    {{!-- <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div> --}}
    </div>
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div>
  </div>
</div>